keyAlias=your_key_alias
keyPassword=your_key_password
storeFile=your_keystore.jks
storePassword=your_keystore_password

keyAliasPlaystore=playstore_key_alias
keyPasswordPlaystore=playstore_key_password
storeFilePlaystore=playstore_keystore.jks
storePasswordPlaystore=playstore_keystore_password
