<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kamron.pogoiv">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".PoGoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/adaptive_icon"
        android:roundIcon="@mipmap/adaptive_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShareHandlerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <service
            android:name=".Pokefly"
            android:exported="true"/>
        <service
            android:name=".updater.DownloadUpdateService"
            android:exported="false"/>
        <service android:name=".pokeflycomponents.GoIVNotificationManager$NotificationActionService"/>

        <activity
            android:name=".activities.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".activities.OcrCalibrationResultActivity"
            android:label="@string/title_activity_ocr_calibration_result"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activities.OcrManualCalibrationActivity"
            android:label="@string/manual_calibration_label"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar.fullscreen"/>
    </application>

</manifest>