<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kamron.pogoiv">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="420"
            android:screenSize="small"/>
        <screen
            android:screenDensity="480"
            android:screenSize="small"/>
        <screen
            android:screenDensity="560"
            android:screenSize="small"/>
        <!-- all normal size screens -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="420"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="480"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="560"
            android:screenSize="normal"/>
        <!-- all large size screens -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="large"/>
        <screen
            android:screenDensity="420"
            android:screenSize="large"/>
        <screen
            android:screenDensity="480"
            android:screenSize="large"/>
        <screen
            android:screenDensity="560"
            android:screenSize="large"/>
        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge"/>
        <screen
            android:screenDensity="xxhdpi"
            android:screenSize="xlarge"/>
        <screen
            android:screenDensity="xxxhdpi"
            android:screenSize="xlarge"/>
        <screen
            android:screenDensity="420"
            android:screenSize="xlarge"/>
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge"/>
        <screen
            android:screenDensity="560"
            android:screenSize="xlarge"/>
    </compatible-screens>

    <application
        android:name=".PoGoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShareHandlerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <service
            android:name=".Pokefly"
            android:exported="true"/>
        <service
            android:name=".updater.DownloadUpdateService"
            android:exported="false"/>

        <activity android:name=".clipboard.ClipboardModifierActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".CreditsActivity"
            android:label="@string/title_activity_credits"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        
        <provider
            android:authorities="${applicationId}.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>